/* Dropdown Button */
.dropbtn {
  background-color: #428bca;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  border-radius: 5%;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}


/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: rgb(80, 162, 230);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dark{
  color: rgb(0, 78, 194);
  background-color: black;
  height:100%;
  width: 100%;
}

.red {
  color: rgb(0, 78, 194);
  background-color: rgb(129, 14, 14);
  height:100%;
  width: 100%;
}

.white {
  color: rgb(0, 78, 194);
  background-color: rgb(218, 144, 76);
  height:100%;
  width: 100%;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.uppercasebtn {
  margin-top: 1%;
  background-color: #428bca;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  border-radius: 5%;
  cursor: pointer;
}